<h1>servicos Details</h1>
<p>ID: <%= servicos.id %></p>
<p>Nome: <%= servicos.nome %></p>
<p>Descrição: <%= servicos.descricao %></p>
<p>Preço: <%= servicos.preco %></p>
<p>Quantidade: <%= servicos.quantidade %></p>
<p>Categoria: <%= servicos.categoria_nome %></p>
<a href="/servicos" class="btn btn-primary">Back to List</a>
